.card__container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 325px;
  height: 328px;
  border-radius: 20px;
}

.card__title {
  position: absolute;
  margin: 0;
  top: 16px;
  padding: 2px 12px;
  border-radius: 4px;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.card__image {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .card__container {
    width: 164px;
    height: 164px;
    border-radius: 12px;
  }
}
