.weather__card {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  max-width: 1360px;
  height: 80px;
  background-image: url("../../images/day_cloudy.png");
  background-position: right;
  background-repeat: no-repeat;
}

.weather__card-temperature {
  color: white;
  position: absolute;
  left: 16px;
  top: 20px;
  margin: auto 0;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.weather__card-image {
  position: absolute;
  right: 0;
}
