.main {
  margin: auto;
  max-width: 1360px;
}

.main__info {
  color: #000;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24.8px;
  padding: 40px 0 34px;
  margin: 0;
}

.main__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 764px) {
  .main__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    gap: 15px;
  }
}
