.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: auto;
  padding: 32px 0 28px;
  color: #000;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__title-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
  cursor: pointer;
}

.header__navigation-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color: #000;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.header__button:hover {
  cursor: pointer;
}

.header__user-info-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__username {
  margin-right: 12px;
}

.header__user-avatar {
  width: 40px;
  height: 40px;
}

.header__mobile-menu {
  display: none;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
  .header__navigation-container {
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    top: 29px;
    right: 27.39px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    z-index: 1;
  }

  .header__navigation-container_opened {
    opacity: 1;
    gap: 20px;
    top: 18px;
    right: 16px;
    width: 90vw;
    height: auto;
    transition: width 0.1s, height 0.3s;
    padding: 20px 0;
  }

  .header__mobile-menu {
    display: block;
    position: absolute;
    z-index: 2;
    top: 29px;
    right: 27.39px;
    height: 44px;
    width: 44px;
    background-image: url("../../images//hamburger-icon.png");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    background-color: transparent;
    padding: 0;
  }

  .header__user-avatar {
    height: 30px;
    width: 30px;
  }

  .header__button_visible {
    opacity: 1;
    transition: opacity 1s;
  }
}

@media screen and (min-width: 320px) and (max-width: 401px) {
  .header {
    height: auto;
  }

  .header__title-container {
    flex-direction: column;
    align-items: baseline;
  }

  .header__date-location {
    margin-top: 18px;
  }
}
