.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24.8px;
  color: black;
  width: 325px;
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1)
  );
}

.sidebar__user-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #5a6f8d;
  color: white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.sidebar__user-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.sidebar__username {
  margin: 0 12px 0 16px;
}

.sidebar__options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__button {
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .sidebar {
    width: auto;
  }

  .sidebar::after {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: auto;
    transform: translateY(15px);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1)
    );
  }

  .sidebar__user-info {
    margin-bottom: 8px;
  }

  .sidebar__button {
    margin: 0;
  }

  .sidebar__options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    opacity: 0.6;
  }
}
