@import "./shared-styles/modal.css";
@import "./shared-styles/formModal.css";

body {
  background-color: #5a6f8d;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a img {
  display: block;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  padding: 0 40px;
  max-width: 1440px;
  margin: auto;
  background-color: #f3f3f3;
}

@media screen and (min-width: 320px) and (max-width: 535px) {
  .page {
    padding: 0 16px;
  }
}
